.nav {
  width: 100%;
  background-color: #ddd;
  padding: 10px 0;
  position: relative;
}

.navList {
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 30px;
  margin-right: auto;
}

.navToggle {
  margin-right: 20px;
  display: inline-block;
}

@media screen and (min-width: 800px) {
  .navToggle {
    display: none;
  }
}
