* {
  text-decoration: none;
}

body {
  background-image: linear-gradient(270deg, darkgrey, skyblue);
}

button {
  line-height: 1.5;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  border-radius: 5%;
  margin-bottom: 2rem;
}

p,
label {
  font-size: 1.2rem;
}

input {
  line-height: 1.6;
  border-radius: 5%;
  margin: 0 0.5rem;
}

.error {
  font-size: 1.5rem;
}
