* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction : column;
  padding: 2rem 6rem;
  background-image: linear-gradient(240deg, aliceblue, grey);
}


@media screen and (min-width: 1000px)
{
  .main-container {
    flex-flow: row wrap;
    max-width: 1440px;
  }
}