.card {
  padding: 2rem;
  border: 1px solid #aaa;
  border-radius: 1rem;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

.name {
  color: #4285f4;
  display: inline-block;
  margin-right: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.description {
  margin-top: 0.8rem;
  color: #555;
  font-size: 1.2rem;
}

.visibility {
  border-radius: 10rem;
  background-color: #f1f1f1;
  border: 1px solid #aaa;
  padding: 0.3rem 0.5rem;
  color: #666;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-top: 0.5rem;
}

.topic {
  background-color: #c4e7fe;
  border: 1px solid #aaa;
  border-radius: 10rem;
  padding: 0.3rem 0.5rem;
}

.loading {
  text-align: center;
  font-size: 1.5rem;
}

.error {
  text-align: center;
  font-size: 1.5rem;
  color: red;
}

@media screen and (min-width: 400px) {
  .name {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}
