* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.body-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
}