* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  list-style: none;
}


button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

.call-to-action {
  line-height: 1.5;
  background-color: lightblue;
}

.call-to-action-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


