/* reset */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: black;
}

a:hover {
  color: blue;
}

/* navbar */
nav {
  width: 100%;
  background-color: #ddd;
  padding: 10px 0;
  position: relative;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li:first-child {
  margin-right: auto;
}

nav ul .hamburger-menu {
  margin-right: 40px;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
}

nav ul .nav-item {
  display: none;
}

nav .logo {
  margin-left: 30px;
}

/* header */
header {
  padding: 50px 0px;
  background-color: lightblue;
  width: 100%;
}
header h1 {
  text-align: center;
  width: 100%;
  margin: auto;
}

section {
  padding: 10px;
}

section h2 {
  text-align: center;
  margin: 32px;
}

section .container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

section .container .box {
  background-color: #999;
  margin-bottom: 16px;
  padding: 40px;
  display: flex;
  justify-content: center;
}

/* footer */
footer {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* put the button at the bottom vertically */
  flex: 1;
  /* flex:1 makes the footer stick to the bottom */
}
.footer-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: lightblue;
  margin-bottom: 16px;
}

/* side-menu */
.side-menu {
  position: fixed;
  right: -100%;
  top: 0;
  transition: right .3s ease-in;
  /* 加點動畫比較滑順 */
}
.side-menu ul {
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1.25rem 14rem 16rem 1rem;
  align-items: flex-start;
}

.side-menu-toggle {
  display: block;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
  color: black;
  background-color: transparent;
  z-index: 1;
  /* 置於最上層 */
  border: none;
  font-size: 2rem;
}
.side-menu li {
  flex: 1;
}

/* media query */
@media (min-width: 500px) {
  section .container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
  section .container .box {
    margin-bottom: 6px;
  }
}



@media (min-width: 800px) {
  nav ul .hamburger-menu {
    display: none;
  }
  nav ul .nav-item, nav ul .side-nav-item {
    margin-right: 40px;
    display: inline-block;
  }
  .side-menu ul {
    padding-right: 16rem;
  }
}

@media (min-width: 1200px) {
  section .container {
    max-width: 1200px;
  }
}
