* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

html,
body {
  width: 100%;
}

body {
  background-color: rgb(239, 234, 229);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.container {
  width: 100%;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}
.item {
  flex: 1 1 25%;
  border: 1px solid blue;
  padding: 2rem 0.5rem;
  text-align: center;
  border-radius: 5%;
}

h2 {
  font-family: "Merriweather", serif;
}

h2,
b {
  padding-bottom: 5px;
}

b,
p {
  font-family: "Lato", sans-serif;
  padding-top: 0.5rem;
}

@media screen and (min-width: 500px) {
  .container {
    flex-direction: row;
    padding: 10rem 1.5rem;
  }
  .item {
    flex: 1 1 30%;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    max-width: 1000px;
    padding: 12rem 1.5rem;
  }
  .item {
    padding: 6rem 1.5rem;
  }
}
