extends layout

block main
    if name
        title Hello, #{name}!
    else
        title My Name is...
    body
    if !name
        form(action="/trackName", method="POST")
            label Please enter your name
            input(type="text", name="username")
            button(type="submit") Submit
    else
        h1= name