.call-to-action {
    line-height: 1.5;
    background-color: lightblue;
  }
  
  .call-to-action-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  