.section {
  padding: 2rem;
}

.sectionHeading {
  text-align: center;
  padding: 1rem 0 2rem 0;
  font-size: 1.8rem;
}

.hide {
  display: none;
}

@media screen and (min-width: 500px) {
  .section {
    padding: 2rem 4rem;
  }
}