.navItem, .sideNavItem {
  font-size: 1.5rem;
}

.navItem {
  display: none;
}

.sideNavItem {
  flex: 1;
}

@media screen and (min-width: 800px) {
  .navItem {
    margin-right: 40px;
    display: inline-block;
  }
}
